.body{
    background-color: #1abc9c;
    
}

.line{
    width: 100px;
    height: 5px;
    background-color:#fff;
    margin-top: 8px; 

}
.wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}